body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(260deg, #7ba6d5 0%, #c3b3e7 100%);
  display: flex;
  justify-content: center;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 4px #494949;
  border-bottom: 3px solid #000;
}

hr{
  border: 1px solid #0000007c;
}

button{
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #000000b0;
  color: #fff;
  cursor: pointer;
  margin-top: .5rem;
}

button:hover{
  background-color: #00000079;
}

.remove-btn{
  background-color: #930000b0;
}


button.remove-skill{
  width: 30px;
  height: 30px;
  background-color: #930000b0;
  padding: 0.5rem;
  border-radius: 100%;
}

.remove-btn:hover, button.remove-skill:hover{
  background-color: #a7000079;
}

label{
  margin-top: .5rem;
}

input, textarea, select{
  outline:0;
  border: none;
  margin-left: 0.5rem;
  border-radius: 2px;
}

img{
  border-radius: 100%;
  background-color: rgb(69, 10, 136);
  max-width: 180px;
}

#root{
  max-width: 767px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-column{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}



/************ FORM ************/
#personal-info, #educational, #professional-experience, #skills{
  padding: .5rem 1rem 1.5rem 1rem;
  background-color: #ffffff25;
  margin: 1rem auto;
}

#educational > div > hr, #professional-experience > div > hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#educational > div > button, #professional-experience > div > button{
  margin-top: 2rem;
}

/* *** personal info *** */

/* *** educational info *** */

/* *** profesional info *** */

/* *** skills info *** */
#skills .flex{
  align-items: center;
}

/************ CV ************/
.cv-container > *{
  padding: 1rem;
}

.cv-container .personal-info{
  background-color: #9fa2aabf;
  flex: 2;
}

.cv-container h2{
  background-color: #bb88d9;
}

.cv-container .experience{
  background-color: rgba(255, 255, 255, 0.64);
  flex: 3;
}

.skills .flex{
  align-items: center;
  justify-content: space-between
}

.skills .flex > p{
  flex:2;
}

.skills .flex > div {
  flex: 3;
}

.level0, .level1, .level2, .level3, .level4{
  height: 15px;
  background-color: rgb(18, 199, 57);
  transition: all .3s;
}

.level0{
  width: 25px;
}

.level0::after{
  content: '\2B50';
}

.level1{
  width: 50px;
}

.level1::after{
  content: '\2B50 \2B50';
}

.level2{
  width: 75px;
}

.level2::after{
  content: '\2B50 \2B50 \2B50';
}

.level3{
  width: 100px;
}

.level3::after{
  content: '\2B50 \2B50 \2B50 \2B50';
}

.level4{
  width: 125px;
}

.level4::after{
  content: '\2B50 \2B50 \2B50 \2B50 \2B50';
}

