body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(260deg, #7ba6d5 0%, #c3b3e7 100%);
  display: flex;
  justify-content: center;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 4px #494949;
  border-bottom: 3px solid #000;
}

hr{
  border: 1px solid #000;
}

button{
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #000000b0;
  color: #fff;
  cursor: pointer;
  margin-top: .5rem;
}

button:hover{
  background-color: #00000079;
}

img{
  border-radius: 100%;
  background-color: rgb(69, 10, 136);
  max-width: 200px;
}

#root{
  max-width: 767px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-column{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}



/************ FORM ************/
#personal-info, #educational, #professional-experience{
  padding: .5rem 1rem 1.5rem 1rem;
  background-color: #ffffff25;
  margin: 1rem auto;
}

/* *** personal info *** */

/* *** educational info *** */

/* *** profesional info *** */


/************ CV ************/
.cv-container > *{
  padding: 1rem;
}

.cv-container .personal-info{
  background-color: #9fa2aabf;
  flex: 2;
}

.cv-container h2{
  background-color: #bb88d9;
}

.cv-container .experience{
  background-color: rgba(255, 255, 255, 0.64);
  flex: 3;
}



